/dts-v1/;
/plugin/;

/* SPI1 */
/ {

    compatible = "ti,beaglebone", "ti,beaglebone-black";

    part-number = "spi1mux";

    fragment@0 {
        target = <&spi1>;
        __overlay__ {
             #address-cells = <1>;
             #size-cells = <0>;
             status = "disabled";
        };
    };


    fragment@1 {
        target = <&spi0>;
        __overlay__ {
             #address-cells = <1>;
             #size-cells = <0>;
             status = "okay";
        };
    };


};
