/dts-v1/;
/plugin/;

/* SPI1 slave dts */
/ {

    compatible = "ti,beaglebone", "ti,beaglebone-black";

    part-number = "spi1pinmux";

    fragment@0 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            spi1_pins_s0: spi1_pins_s0 {
                pinctrl-single,pins = <
                  0x190 0x33  /* spi1_sclk, INPUT_PULLUP  | MODE7 */
                  0x194 0x33  /* spi1_d0,   INPUT_PULLUP  | MODE7 */
                  0x198 0x13  /* spi1_d1,   OUTPUT_PULLUP | MODE7 */
                  0x19c 0x33  /* spi1_cs0,  INPUT_PULLUP  | MODE7 */
                >;
            };
        };
    };

    fragment@1 {
        target = <&spi1>;
        __overlay__ {
             status = "okay";
             pinctrl-names = "default";
             pinctrl-0 = <&spi1_pins_s0>;
             fifo_depth = <36>;
             bits_per_word = <16>;
        };
    };
};
